<!--edit leave template to edit the alread applied leave-->
<html>

<head>
  <meta charset="utf=8">

  </meta>
  <!--links for font awesome and external style sheet-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
  <title>Employee Portal</title>
</head>

<body>
  <style>
    
    input,select{
  
  border: 0px;
  border-bottom: 2px solid black;
  min-width: 280px;
  font-size: 25px;
  
  }
 
  .button1-a{
    position: relative;
    bottom: 40px;
  }
  </style>
 
  <!-- Header Of each page with social icons at right-->
  <div class="header-container">

    <div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        &#9776;
      </span>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
    <!--Side menu bar which opens and closes on click .on opening it contains following sidebars-->
    <div id="MySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="main">Home </a>
      <a href="profile">Profile </a>
      <a href="applyleave">Apply Leave</a>
      <a href="#">Settings</a>
      <a href="contact">Contact</a>
      <a href="logout">Logout</a>

    </div>

  </div>
  <div class="main" style="min-height:120%;">
    <!--It is  leave application form with previous values-->
    
    <div id="leaveform"> 
      <hr><b style="color:black;font-size: 2em;">Edit leave application Form</b>
      <hr>
      <form method="GET" action="updateleave" id="myform">
   
<div   class="main1">

<div class="main1-a">
    <ol>
        <li>
            From Date :
        </li></br>
        <li>
            To date :
        </li></br>
        <li>
            Leave type:
        </li></br>
        <li>
          Remarks:
        </li></br>

        </ol>
</div>

<div class="main1-b">
    
    <ol>
        <li>
          <input  type="date" required name="fromdate" required value="<%=data.fromdate%>">
        </li></br>
        <li>
           
          <input  type="date" required name="todate" required
          value="<%=data.todate%>">
        </li></br>
        <li>
          <select onclick="checkleave()" required name="leavetype" id="leave-type"
          value="d" required size="1">
          <option selected disabled hidden><%=data.leavetype%></option>
          <option name="leave">Earned Leave</option>
          <option name="leave">Sick Leave</option>
          <option name="leave">Casual Leave</option>

        </select>
        </li></br>
        <li>
         <textarea style="font-size:18px;resize: none;" required cols="40" name="remarks" value="<%=data.remarks%>"><%=data.remarks%></textarea>
        
        </li>
       
        </ol>
</div>



</div>
<button class="button1 button1-a" type="submit">Submit Leave
Request</button>
</form>
</div>
    

  </div>



  <script>
    /*open theside menu bar*/

    function openNav() {
      document.getElementById("MySidenav").style.width = "250px";
    }
    /*close the side menu bar*/
    function closeNav() {
      document.getElementById("MySidenav").style.width = "0";
    }

  </script>

</body>


</html>