<!--it will display the profile of the user.It will take data from database of the user that is logged in-->
<html>
<!--links for font awesome and external style sheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="assets/style.css" rel="stylesheet" type="text/css" />
<title>Employee Portal</title>
<head>
  <meta name="viewport" content="width=device-width">
  <style>
    /*internal style sheet*/
 


  
    input {

            border: 0px;
            border-bottom: 2px solid black;
            min-width: 280px;
            font-size: 25px;

        }

        button{
            position: relative;
            right: 200px;
        }
      
  </style>

</head>


<body>

  <%var mess="Edit profile";%>

  <% if(path=="/profile"){%>
  <%  mess="Edit Profile"
       
      }
      else{
          mess=""
          
          
          %>

  <% }
      %>
  <!-- Header Of each page with social icons at right-->
  <div class="header-container">

    <div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        &#9776;
      </span>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>


  </div>

  <!--Side menu bar which opens and closes on click .on opening it contains following sidebars-->
  <div id="MySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="main">Home </a>
    <a href="profile">Profile </a>
    <a href="applyleave">Apply Leave</a>

    <a href="#">Settings</a>
    <a href="contact">Contact</a>
    <a href="logout">Logout</a>
  </div>
  
   
 
  
    <div class="main">
      <hr>
      <b style="text-align:center;font-size: 2em;"> Profile</b><hr></br></br>
  <a href="editProfile" id="update-profile-link">
    <div class="edit-profile-button">Edit Profile</div>
  </a><br>
  <form method="post" action="/updateProfile" id="myform">
    <button type="submit" id="edit-update-button" class="edit-update-button" style="display: none;">Update</button>
<div class="main1">
   
    <div class="main1-a">
        <ol>
            <li>
                First Name :
            </li></br>
            <li>
                Last Name :
            </li></br>
            <li>
                Email :
            </li></br>
            <li>
               Birth date :
            </li></br>
            
             <li>
               Country :
             </li></br>
             <li>
                 Join Date:
             </li></br>
             <li>
               Department :
              </li></br></br>
              <li>
                State :
              </li></br>
            <li>
                Mobile Number :
            </li></br>
            
            </ol>
    </div>
   
    <div class="main1-b">
        
        <ol>
            <li>
                &emsp;<input type="text" id="firstname" readonly name="Fname" value="<%=data.Fname%>"
                    placeholder="John" required> 
            </li></br>
            <li>
                &emsp;<input type="text" id="lastname" readonly name="Lname" value="<%=data.Lname%>"
                    placeholder="Doe" required>
                
            </li></br>
            <li>
                &emsp;&emsp;<input name="email" id="email" readonly value="<%=data.email%>" type="email"
                placeholder="xyz@gmail.com" required>&emsp;
            </li></br>
            <li>
                <input type="date" class="date-width "
                id="birthday" placeholder="birthday" readonly name="birthdate" value="<%=data.birthdate%>" required>
            
            </li></br>
          
            <li>
              &emsp; <input  type="text"
              value="<%=data.country%>" readonly  name="country" readOnly>
            </li></br>
            <li>
            <input type="date" id="joindate" readonly class="date-width"
                    placeholder="join date" name="joindate" value="<%=data.joindate%>" required>
               
            </li></br>
            <li>
              &emsp;    <input  id="dept" readOnly type="text"
            value="<%=data.department_name%>">
            <select class="dept-sel" onclick="checkdepartment()"
            name="department_name" id="department-selection" size="1">
            <option name="dept">Human Resource</option>
            <option name="dept">Marketing</option>
            <option name="dept">Salesman</option>
            <option name="dept">Finance</option>
            <option name="dept">General</option>
            <option name="dept">Operations</option>
            <option name="dept">Purchase</option>
          </select>
            </li></br></br>
            <li>
                &emsp; <input type="text" readonly id="state" placeholder="State"
                    name="state" value="<%=data.state%>" required>
                
            </li></br>
            <li>
                &emsp;<input type="tel" readonly placeholder="Mobilenumber"
                    id="mobilenumber" name="mobilenumber" value="<%=data.mobilenumber%>" required>
               
            </li></br>
            
            </ol>
    </div>
    
</form>
</div>


</div>


  <script>

    /*open side menu bar*/
    function openNav() {
      document.getElementById("MySidenav").style.width = "250px";
    }
    /*close side menu bar*/
    function closeNav() {
      document.getElementById("MySidenav").style.width = "0";
    }
    /*This template used for two routers
    1.displaying profile with edit button
    2.updating profile
    if the router is edit profile the user can update profile after clicking edit button
    if the router is profileuser can just see the profile
    */
    var path = "<%=path%>";
    if (path == "/editProfile") {
      /*edit button display will be set to none and update button will be diaplyed as block */
      let edit_profile_button = document.getElementById("update-profile-link").style;
      edit_profile_button.display = "none";

      let inputs = document.getElementsByTagName("input");

      let update_button = document.getElementById("edit-update-button").style;
      update_button.display = "block";

      let disply_departemnt_selection = document.getElementById("department-selection").style;
      disply_departemnt_selection.display = "block";
      disply_departemnt_selection.left = "405px";
     
      disply_departemnt_selection.bottom = "33px";
      /*Email are unique so can't be modified*/
      for (let i = 0; i < inputs.length; i++) {

        if (inputs[i].name != "email")
          inputs[i].readOnly = false;

      }
document.getElementById("state").style="position:relative;bottom:26px";
document.getElementById("mobilenumber").style="position:relative;bottom:26px";

    }
    //select the department name from select tag and display
    function checkdepartment() {

      let d = document.getElementById("department-selection");
      let dept = document.getElementsByName("dept");
      let selected_dept = d.options[d.selectedIndex].text;
      
      let input_dept = document.getElementById("dept");
      input_dept.setAttribute("value", selected_dept);
      /*i=  f[0].value();*/
      
      document.getElementById("department-selection").value = selected_dept;


    }
    //select the country name from select tag and display
    function checkcountry() {
      let c = document.getElementById("country-selection");
      let country = document.getElementsByName("Country");
      let selected_country = d.options[d.selectedIndex].text;
      f[0].value = selected_country;
      document.getElementById("country-selection").value = f[0].value();
    }

  </script>
</body>

</html>